body{
    width: 99%;
    height: 729px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./background-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    width: 350px;
    height: auto;
    margin: auto;
    padding: 10px;
    background-image: url("./background-pic.png");
    box-shadow: 0px 8px 16px 0px;
    border-radius: 20px;
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 10px;
    padding: 10px;
}

.container{
    line-height: 30px;
    color: aliceblue;
    text-shadow: 3px 3px 3px rgb(9, 2, 58);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-style: normal;
    font-size: 28px;
}

#occupation{
    font-style: italic;
    font-size: 23px;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

#description, #email, #phone{
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
}

